@page
@model WebApp.Pages.Reports.TopProductsModel
@{
    ViewData["Title"] = "Najpopularniejsze produkty";
}

<h1>Najpopularniejsze produkty</h1>
<a asp-page="Index" class="btn btn-secondary mb-3">Powrót</a>

<table class="table table-striped">
    <thead><tr><th>Produkt</th><th>Sprzedana ilość</th></tr></thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>@item.TotalQty</td>
            </tr>
        }
    </tbody>
</table>
